{% extends 'DistributionBundle:Step:step.html.twig' %}

{% block step_title %}
    <h2>Administrator Account</h2>
    <span class="help-block">Create administrator account.</span>
{% endblock %}

{% block form %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                {{ form_label(form.username, null, {label_attr:{class:"control-label"}}) }}
                {{ form_widget(form.username, {attr:{class:"form-control"}})  }}
                {{ form_errors(form.username)  }}
            </div>
            <div class="form-group">
                {{ form_label(form.password, null, {label_attr:{class:"control-label"}}) }}
                {{ form_widget(form.password, {attr:{class:"form-control"}})  }}
                {{ form_errors(form.password)  }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ form_widget(form.Save, {attr: {class:"btn btn-primary pull-right"}, label:"Next Step"}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}