{% extends 'DistributionBundle::layout.html.twig' %}

{% block title %}Database Configuration | Install{% endblock %}


{% block content %}

<div class="row" style="margin-top:60px;">
    <div class="col-md-6 col-md-offset-3" style="text-align:center">
    	<h2>Database Connection</h2>
		<span class="help-block">Please Enter Your Database Conection Detail.</span>
    </div>
</div>

{% if processFailed %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
		<div class="alert alert-danger process-failed">
			{{ processFailed|raw }}
		</div>
    </div>
 </div>
{% endif %}

<form method="POST" action="{{ url('_install_step_doctrine') }}">
	<div class="row">
		<div class="col-md-3 col-md-offset-3">
			<div class="form-group">
				{{ form_label(form.driver, null, {label_attr:{class:"control-label"}}) }}
				{{ form_widget(form.driver, {attr:{class:"form-control"}})  }}
				{{ form_errors(form.driver)  }}
			</div>
			<div class="form-group">
				{{ form_label(form.host, null, {label_attr:{class:"control-label"}}) }}
				{{ form_widget(form.host, {attr:{class:"form-control"}})  }}
				{{ form_errors(form.host)  }}
			</div>
			<div class="form-group">
				{{ form_label(form.port, null, {label_attr:{class:"control-label"}}) }}
				{{ form_widget(form.port, {attr:{class:"form-control"}})  }}
				{{ form_errors(form.port)  }}
			</div>
			<div class="form-group">
				{{ form_label(form.path, null, {label_attr:{class:"control-label"}}) }}
				{{ form_widget(form.path, {attr:{class:"form-control"}})  }}
				{{ form_errors(form.path)  }}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				{{ form_label(form.name, null, {label_attr:{class:"control-label"}}) }}
				{{ form_widget(form.name, {attr:{class:"form-control"}})  }}
				<div class="form-error">
					{{ form_errors(form.name)  }}
				</div>
			</div>
			<div class="form-group">
				{{ form_label(form.user, null, {label_attr:{class:"control-label"}}) }}
				{{ form_widget(form.user, {attr:{class:"form-control"}})  }}
				{{ form_errors(form.user)  }}
			</div>
			<div class="form-group">
				{{ form_label(form.password, null, {label_attr:{class:"control-label"}}) }}
				{{ form_widget(form.password, {attr:{class:"form-control"}})  }}
				{{ form_errors(form.password)  }}
			</div>
			<div class="form-group">
				{{ form_label(form.table_prefix, null, {label_attr:{class:"control-label"}}) }}
				{{ form_widget(form.table_prefix, {attr:{class:"form-control"}})  }}
				{{ form_errors(form.table_prefix) }}
			</div>
		</div>
	</div>
	 <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		    {{ form_widget(form.Save, {attr: {class:"btn btn-primary pull-right"}, label:"Next Step"}) }}
	    </div>
	</div>
	{{ form_rest(form) }}
</form>

{% endblock %}