<nav id="dt-main-menu" class="dt-navbar" role="navigation">
    <div class="container nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn" >
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
        </div>
        <!-- /.navbar-header -->
        <div class="dt-off-canvas">
            <ul class="nav nav-pills navbar-left">
                {% for n,nav in system.navigations %}
                    {% if nav.children is defined and nav.children|length %}
                        <li class="dropdown">
                            <a class="navbar-link dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ __(nav.label) }}
                            </a>
                            <ul class="dropdown-menu">
                                <div class="dropdown-caret">
                                  <span class="caret-outer"></span>
                                  <span class="caret-inner"></span>
                                </div>

                                {% for name,child in nav.children %}
                                    <li>
                                        <a id="nav-{{name}}" href="{{url(child.route)}}">{{ __(child.label) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- /.dropdown -->
                        </li>

                    {% else %}
                         <li>
                            <a id="nav-{{ n }}" class="navbar-link"  href="{{url(nav.route)}}">
                                {{ __(nav.label) }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
