{% extends "DrafterbitSystemBundle::base_index.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('@DrafterbitPageBundle/css/index.css') }}">
{% endblock %}

{% block filter %}
<div style="display:inline-block; float:right;margin-left:5px;">
    <select name="filter" class="form-control input-sm page-status-filter">
        <option value="all"> {{ __('Status') }}</option>
        <option value="published">{{ __('Published') }}</option>
        <option value="pending" >{{ __('Pending Review') }}</option>
        <option value="trashed">{{ __('Trashed') }}</option>
    </select>
</div>
{% endblock %}

{% block action %}
<a href="{{ url('drafterbit_page_edit', {id:"new"}) }}" class="btn btn-success btn-sm">
    <i class="fa fa-plus" style=""></i> {{ __('New Page') }}
</a>

<button class="btn btn-default btn-sm uncreate-action" type="submit" name="action" value="trash">
    <i class="fa fa-trash-o"></i> {{ __('Trash') }}
</button>
{% endblock %}

{% block table %}
    <table class="table table-hover table-condensed" id="page-data-table">
        <thead>
            <tr>
                <th class="sorting" width="15">
                    <input id="page-checkall" type="checkbox">
                </th>
                <th width="80%">{{ __('Title') }}</th>
                <th width="20%">{{ __('Last Modified') }}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('@DrafterbitPageBundle/js/index.js') }}"></script>
{% endblock %}