{% extends "DrafterbitSystemBundle::base_edit.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('@DrafterbitSystemBundle/css/setting/general.css') }}">
{% endblock %}

{% block action %}
    {{ form_widget(form.Save, {label: __("Save Setting"), attr:{class:"btn btn-sm btn-success"}}) }}
{% endblock %}

{% block form %}
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-stacked nav-stacked-left" role="tablist">
            {% for name in field_names %}
                <li role="presentation"><a href="#setting-{{ name }}" aria-controls="setting-{{ name }}" role="tab" data-toggle="tab">{{ name|capitalize }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9 tab-content">
        {% for field in form %}
            <div role="tabpanel" class="tab-pane" id="setting-{{ field.vars.name }}">
                {% for f in field %}
                    <div class="form-group">
                        {{ form_label(f) }}
                        {{ form_widget(f, {attr: {class:"form-control"}}) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('@DrafterbitSystemBundle/js/setting/general.js') }}"></script>

    {% if message %}
        <script type="text/javascript">
        {% autoescape 'js' %}
        $.notify('{{ message.text }}', '{{ message.status }}');
        {% endautoescape %}
        </script>
    {% endif %}
{% endblock %}