{% extends "DrafterbitSystemBundle::base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@DrafterbitSystemBundle/Resources/public/css/dashboard.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row panel-container">
            <div class="panel-row col-md-6" id="panel-row-left" data-pos="left">
                {% for panel in left_panels %}
                    <div  {% if panel.status == 0 %} style="display:none" {% endif %}  class="panel-item" id="dashboard-panel-{{ panel.getName() }}">
                        {% autoescape false %}
                           {{ panel.getView() }}
                        {% endautoescape %}
                    </div>
                {% endfor %}
            </div>

            <div class="panel-row col-md-6" id="panel-row-right" data-pos="right">
                   {% for panel in right_panels %}
                    <div  {% if panel.status == 0 %} style="display:none" {% endif %}  class="panel-item" id="dashboard-panel-{{ panel.getName() }}">
                        {% autoescape false %}
                           {{ panel.getView() }}
                        {% endautoescape %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts
    'plugins/jquery-ui/jquery-ui.min.js'
    '@DrafterbitSystemBundle/Resources/public/js/dashboard.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}