<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Browser</title>

    {% stylesheets filter="cssrewrite"
    'plugins/fontawesome/css/font-awesome.css'
    'plugins/bootstrap/dist/css/bootstrap.css'
    'plugins/egig-notify/notify.css'
    'plugins/finder/finder.css'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}

<style>
    #finder-container {
        width: 100% !important;
        padding: 10px;
    }
</style>
</head>
<body>

<div id="finder-container"></div>

{% javascripts
    'plugins/jquery/dist/jquery.js'
    'plugins/bootstrap/dist/js/bootstrap.js'
    'plugins/egig-notify/notify.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ url('asset_drafterbit_js') }}"></script>
<script src="{{ url('drafterbit_system_asset_session_js') }}"></script>
<script type="text/javascript" src="{{ asset('plugins/finder/dist/finder.js') }}"></script>
<script type="text/javascript" src="{{ asset('plugins/finder/src/l10n/'~locale~'.js') }}"></script>

{% javascripts
'plugins/bootstrap-contextmenu/bootstrap-contextmenu.js'
'plugins/jquery-form/jquery.form.js'
'@DrafterbitFileBundle/Resources/public/js/browser.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


</body>
</html>