{% extends "DrafterbitSystemBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'plugins/finder/finder.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="container">
    <div id="finder-container"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'plugins/bootstrap-contextmenu/bootstrap-contextmenu.js'
    'plugins/jquery-form/jquery.form.js'
    '@DrafterbitFileBundle/Resources/public/js/index.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/finder/dist/finder.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/finder/src/l10n/'~locale~'.js') }}"></script>
    {% endjavascripts %}
{% endblock %}
