{% extends "DrafterbitSystemBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@finder_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="container">
    <div id="finder-container"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@bootstrap_contextmenu'
    '@jquery_form'
    '@finder_js'
    '@DrafterbitFileBundle/Resources/public/js/index.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# @todo handle locale #}
    <!--<script type="text/javascript" src="{{ asset('plugins/finder/src/l10n/'~locale~'.js') }}"></script>-->
{% endblock %}
