{% extends "DrafterbitSystemBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@DrafterbitSystemBundle/Resources/public/css/overrides-datatables.css'
        '@DrafterbitSystemBundle/Resources/public/plugins/bootstrap-datatables/bootstrap-datatables.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<form method="POST"
    id="{{ view_id|default(random()) }}-index-form"
    {% if action is defined %} action="{{ action }}"{% endif %}
    >
    <div class="container-fluid sticky-toolbar-wrapper" id="sticky-toolbar">
        <div class="container">
            <div class="row row-sticky-toolbar" style="margin:10px 0;">
                <div class="pull-right">
                    <div style="display:inline-block; float:right;margin-left:5px;">
                        <input type="search" class="form-control input-sm" placeholder="{{ __('Search') }}">
                    </div>

                    {% block filter %} {% endblock %}
                </div>

                    {% block action %} {% endblock %}
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row row-content">
           <div class="col-md-12 content-full">
                {% block table %} {% endblock %}
            </div>
        </div>
     </div>
    <input type="hidden" name="_token" value="{{ csrf_token(view_id) }}"/>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@datatables_js'
        '@DrafterbitSystemBundle/Resources/public/plugins/bootstrap-datatables/bootstrap-datatables.js'
        '@jquery_checkall'
        '@jquery_form'
        '@sticky_kit'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}