{% extends "DrafterbitSystemBundle::base_edit.html.twig" %}

{% block action %}
    {{form_widget(form.Save, {attr:{class:"btn btn-sm btn-success"}})}}
{% endblock %}

{% block form %}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.post_perpage, 'Num of Post per Page') }}
            {{ form_widget(form.post_perpage, {attr:{class:"form-control"}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.feed_shows, 'feed Shows') }}
            {{ form_widget(form.feed_shows, {attr:{class:"form-control"}}) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    {% if success %}
        <script type="text/javascript">
        $.notify('{{ success.message }}', 'success');
        </script>>
    {% endif %}
{% endblock %}